.box-height-full{
    height: 9em;
    transition: all 350ms ease;
}

.box-height-0{
    height: 0px;
    transition: all 350ms ease;
}

@media screen and (min-width: 768px) {
    .box-height-0, .box-height-full{
        height: 100%;
    }
}

.active{
    font-weight: bold;
}
 