@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container{
    max-width: 1360px;
    margin: 0 auto;
}

#blog{
    display: flex;
    flex-direction: column;
    align-items: start;
}

#blog > h1,#blog > h2{
    font-family: 'Playfair Display', sans-serif;
    font-weight: 800;
    margin-bottom: 0.875rem;
    color: #000000;
}

#blog > h1{
    font-size: 2.5rem;
}

#blog > h2{
    font-family: 'Manrope';
    /* font-weight: bolder; */
    font-size: 1.5rem;
}

#blog p{
    font-family: 'Manrope', sans-serif;
    font-size: 0.875rem;
    margin-bottom: 0.875em;
}

